{% extends layout %}

{% block head %}
  <title>{{ post.title }} - Kevin Cao</title>
  <meta name="description" content="{{ post.plainDesc }}" />
  {% style %}
    h2,h3,h4,h5,h6 {
        margin-top: 32px;
        margin-bottom: 12px;
        margin-left: -28px;
        text-decoration: underline;
    }

    @media (min-width: 42rem) {
      pre {
          margin-left: -2rem;
          width: calc(100% + 4rem);
      }
    }

    header > h1 {
      color: #333;
      padding: 0 1rem;
      text-align: center;
    }
  {% endstyle %}
{% endblock %}

{% block content %}
  <article>
    <header>
      <h1>{{ post.title | raw | safe }}</h1>
      <div style="padding-bottom:1rem; text-align:center"><time>{{ post.date }}</time></div>
    </header>
    {{ post.content | raw | safe }}
  </article>
{% endblock %}
